/* Empty. Add your own CSS if you like */
span, p, div, a {
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

/*.body-content {
	margin-top:63px;
}*/
.precip-content {
    text-align: center;
    font-size: 24px;
}

.precip-icon {
    text-align: center;
    padding: 15px;
    color: salmon;
}

p.location-para {
    font-size: 24px;
    line-height: 28px;
}

.card {
    height: 90%;
}

.home-button {
    display: block;
    margin-top: 25%;
}

.return-button {
    display: block;
    margin-top: 30px;
}

.selector-title {
    color: #886aea;
    text-align: center;
    padding-top: 25px;
}

.center-align {
    text-align: center;
}

.precip-dir-body {
    padding-top: 50px;
}

.item, .item p {
    color: #886aea;
}

input.error {
    /*border:1px solid red;*/
    /*color:red;*/
    border: 1px solid #a94442;
    border-radius:4px;
    padding:3px;

}