<div ng-hide="loaded">
    <!--<i class="fa fa-cog fa-spin loading-icon"></i>-->
    <h1 class="selector-title">GETTING LOCATION</h1>
    <div class="center-align">
        <img src="img/reload.gif">
    </div>
    <h1 class="selector-title">RECEIVING DATA</h1>
</div>
<div ng-show="loaded">
    <div class="precip-content">
        <p class="location-para">YEAH THAT'S RIGHT, TOO LAZY TO SEE IF IT'S PRECIPITATIN' OUT THERE?</p>
        <p class="location-para">WELL... IS IT?..</p>
    </div>
    <div class="precip-icon">
        <i class="wi {{icon}}"></i>
    </div>
    <div class="precip-content">
        <span>{{isPrecip}}</span>
    </div>
</div>