<div>
	<!-- <p>{{data}}</p> -->
	
	<div class="precip-content">
		<p class="location-para">YEAH THAT'S RIGHT, TOO LAZY TO SEE IF IT'S PRECIPITATIN' OUT THERE IN MINNEAPOLIS?</p>
		<p class="location-para">WELL... IS IT?..</p>
	</div>
	<div class="precip-icon">
		<i class="wi {{icon}}"></i>
	</div>
	<div class="precip-content">
		<span>{{isPrecip}}</span>
	</div>

	<!-- <span>{{position}} + dan</span> -->
	<!-- <span>{{lat}} + {{long}}</span> -->
	<!-- <button ng-click="clicker()">click me!</button> -->
</div>