<ionic-pane>
    <div class='list card'>
        <div class="item item-body">
            <h1 class="selector-title">Find out if it is precipitating</h1>

            <!-- <button class="button button-royal">Use GPS</button> -->
            <a class="button button-royal home-button" href="#geolocate">Use GPS</a>

            <a class="button button-royal home-button" href="#zip">Enter Zip</a>
            <!--<input type="number" min="5" max="5" placeholder="Zip Code">-->
        </div>
    </div>
</ionic-pane>