/* Empty. Add your own CSS if you like */
span, p, div {
	font-family:"Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}


/*.body-content {
	margin-top:63px;
}*/
.precip-content {
	text-align:center;
	font-size:24px;
}
.precip-icon {
	text-align:center;
	padding:15px;
	color:salmon;
}
p.location-para {
	font-size:24px;
	line-height:28px;
}
.card {
	height:90%;
}
/*.zip-input {
	width:90%;
	background-color:green;
}*/